@mixin flex {
  display: flex;
  align-items: center;
  gap: 2.6rem;
}

.navbar {
  margin-top: 6rem;
  @include flex;
  .navbar-project-icon {
    width: 8rem;
    height: 8rem;
  }
  .navbar-project-title {
    color: #574747;
    font-family: "Inter", sans-serif;
    font-size: 4.8rem;
    font-weight: 600;
    margin-top: 2rem;
  }
  @include lgph {
    display: none;
  }
}
